body {
    background-color: #808080;
     }
  .example {
      background-color:#808080 ;
     } 
  .jumbotron {
    background-image: url("bellybutton.jpeg");
    background-size: 100% 100%;
    text-align: center;
  }